*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: black;
    color: ghostwhite;
    height: 100%;
}

h1{
    font-size: 90px;
    /*Center with transform*/
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}