{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'birthday/style.css' %}" rel="stylesheet">
    <title>Is it my birthday?</title>
</head>
<body>
    <!--to add logic use '%'-->
    {% if birthday %} <!-- dont use ':' -->
        <h1>YES</h1>
    {% else %}
        <h1>NO</h1>
    {% endif %} <!-- DJANGO requires an endif tag-->
</body>
</html>